<div class="row">
  <div class="col-sm-10 col-md-10">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngIf="!authService.isAuthenticated()">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthenticated()">
        <a class="nav-link" [routerLink]="['register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['pipe']">Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['observable']">Observable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['users']">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['product']">Product</a>
      </li>
    </ul>

  </div>
  <div class="col-sm-2 col-md-2">
    <button *ngIf="authService.isAuthenticated()" class="btn btn-block btn-danger"
      (click)="onLogout()">Logout</button>
  </div>
</div>


<!-- <ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let route of routes">
    <a class="nav-link" [routerLink]="[route.links]">{{ route.links | titlecase}}</a>
  </li>
</ul> -->
