.my-card-style{
  background-color: #fff9f9;
  box-shadow: 3px 3px darkgrey;
  cursor: pointer;
}

.my-border{
  border-bottom: 2px coral solid;
}

.my-size{
  font-size: 1.2em;
  font-weight: bold;
}
