<div class="card my-card-style">
  <!-- <ng-content select ="header"></ng-content> -->

  <img [src]="user.avatar"
    class="card-img-top rounded-circle img-responsive">

    <div class="card-body text-center">

      <!-- <ng-content></ng-content> -->

    <h3 [ngClass] = "dynamicClass">{{ user.first_name }} {{ user.last_name }}</h3>

    <p [ngStyle]= "dynamicStyle" >Email : <span [innerHTML]="user.email"></span></p>
    <p>Total Votes : {{ user.votes }}
      <input type="number" [(ngModel)] = "user.votes">


      <!-- <input type="number"
        [ngModel] = "user.votes"
        (ngModelChange)="user.votes = $event.target.value"> -->

      <!-- <input type="number"
        [value]="user.votes"
        (change) = "onVoteChange($event.target.value)"> -->
        <!-- (change) = "user.votes = $event.target.value"> -->
    </p>

    <button class="btn btn-block btn-primary"
      (click)="onClick()">
      Call Parent
    </button>

    <!-- <ng-content select="footer"></ng-content> -->

  </div>
</div>
